<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Word.Noir" android:versionCode="3" android:versionName="0.7" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="Word Noir" android:icon="@drawable/Icon"></application>
</manifest>