<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="WordGame_Android.WordGame_Android" android:versionCode="1" android:versionName="0.5" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
	<application android:label="Word Salad" android:icon="@drawable/Icon"></application>
</manifest>